<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>s1</servlet-name>
        <servlet-class>com.javatpoint.ControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>com.sachin.controller.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_SignUpController</servlet-name>
        <servlet-class>com.sachin.controller.Admin_SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Controller</servlet-name>
        <servlet-class>com.sachin.controller.Admin_Controller</servlet-class>
    </servlet>
   
    <servlet-mapping>
        <servlet-name>s1</servlet-name>
        <url-pattern>/ControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_SignUpController</servlet-name>
        <url-pattern>/Admin_SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Controller</servlet-name>
        <url-pattern>/Admin_Controller</url-pattern>
    </servlet-mapping>
    
</web-app>
